<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>


    <div class="panel-heading">
        <h1 th:text="${product.productName}"></h1>
    </div>
    <h2 th:text="${product.productDesc}" class="panel-body">Description</h2>
        <div th:text="${product.detailedDesc}" />

        <div th:each="image : ${product.images}">
            <div th:if= "${image.imagePath != ''}">
                <img th:src="@{'/image/'+ ${image.imagePath}}" width="300"/>
            </div>
        </div>

        <div th:inline="text" class="col-md-2">Price: [[${product.productPrice}]] $</div>
        <div th:inline="text" class="col-md-9">In Stock: [[${product.availableUnits}]]</div>
<form th:action="@{/addProduct}" method="post" sec:authorize="!hasAuthority('staff')" th:if="${product.availableUnits}>0">
    <div class="form-group row">
        <div class="col-md-2 mt-1">
            <input type="hidden" th:value="${product.ProductId}" name="productId" />
            <label>Number</label>
            <input type="number" class="form-control" autocomplete="on" name="number" th:value="1"
                   min="1" th:max = "${product.availableUnits}"/>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Buy</button>
</form>

    </div>



<div th:replace="/fragments/footer :: footer"/>

</body>
</html>