<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}"
      href="../../css/main.css"/>

<head>
    <div th:replace="fragments/header :: header"/>
</head>

<body>


<div th:replace="fragments/header :: navbar"/>
<div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>
            <table class="table table-striped">
                 <thead>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th class="text-center">Is staff</th>
                <th class="text-center">Submit</th>
                 </thead>
                <body>
                <tr th:each="user : ${users}">
                    <form th:action="@{/userUpdate}" th:method="post">
                        <input type="hidden" th:value="${user.userId}" name="userId"/>
                        <input type="hidden" th:value="${user.firstName}" name="firstName"/>
                        <input type="hidden" th:value="${user.lastName}" name="lastName"/>
                        <input type="hidden" th:value="${user.address}" name="address"/>
                        <input type="hidden" th:value="${user.email}" name="email"/>
                        <input type="hidden" th:value="${user.registrationDate}" name="registrationDate"/>
                        <input type="hidden" th:value="${user.password}" name="password"/>
                        <input type="hidden" th:value="${user.phone}" name="phone"/>
                        <td th:text="${user.email}"/>
                        <td th:text="${user.firstName}"/>
                        <td th:text="${user.lastName}"/>
                        <td align="center"><input type="checkbox" name="isStaff" th:checked="${user.roleId} == 2"/></td>
                        <td align="center"> <input type="submit" value="Update"><td/>
                    </form>
                </tr>
                </body>
            </table>




<div th:replace="fragments/footer :: footer"/>

</body>
</html>